<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pocket.member.mapper.LoginMapper">

<select id="CheckById" parameterType="Long" resultType="_int">
	SELECT Count(*) FROM ps_user WHERE user_id = #{id}
</select>

<insert id="SignUp" parameterType="map">
	INSERT INTO ps_user(user_id ,user_email ,user_nickname) VALUES(#{id},#{email},#{nickname})
</insert>


</mapper>